.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("/images/hero_1.jpg");
    max-width: 1440px;
    height: 938px;
}

.hero h1 {
    padding-right: 235px;
    align-self: center;
    justify-self: end;
    grid-area: 1/2/2/3;
}

.h1span {
    display: block;
}