.quantity {
    grid-area: 1/2/2/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    align-self: center;
}

.plus,
.minus {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
}

.minus {
    border: 2px solid #F9C4D2;
    border-radius: 5px 0px 0px 5px;
}

.plus {
    border: 2px solid #F9C4D2;
    border-radius: 0px 5px 5px 0px;
}

.quantity p {
    background-color: #F9C4D2;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bedstetilbud {
    margin-bottom: 15em;
    margin-top: 0;
}

#crumbs {
    font-family: 'rubik';
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#crumbs h1 {
    padding: 0 0 30px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
    color: #8093a7;
}

#crumbs ul {
    list-style: none;
    display: inline-table;
}

#crumbs ul li {
    display: inline;
}

#crumbs ul li a {
    display: block;
    float: left;
    height: 50px;
    background: #f3f5fa;
    text-align: center;
    padding: 30px 20px 50px 60px;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 20px;
    text-decoration: none;
    color: #8093a7;
}

#crumbs ul li a:after {
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #f3f5fa;
    position: absolute;
    right: -40px;
    top: 0;
    z-index: 1;
}

#crumbs ul li a:before {
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

#crumbs ul li:first-child a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#crumbs ul li:first-child a:before {
    display: none;
}

#crumbs ul li:last-child a {
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#crumbs ul li:last-child a:after {
    display: none;
}

#crumbs ul li a:hover {
    background: #F9C4D2;
    color: #fff;
}

#crumbs ul li a:hover:after {
    border-left-color: #F9C4D2;
    color: #fff;
}

#crumbs ul li .active {
    background: #F9C4D2;
    color: #fff;
}

#crumbs ul li .active:after {
    border-left-color: #F9C4D2;
}