.tak-side {
    padding-top: 250px;
    padding-bottom: 300px;
}

.tak-side h2 {
    line-height: 45px;
    margin-left: 235px;
    max-width: 467px;
    font-weight: 500;
    font-size: 72px;
    color: #F9C4D2;
}

.takspan {
    font-weight: 400;
    font-size: 36px;
}